@import '~antd/dist/antd.css';

.app {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 30pt;
}

.form {
    width: min(100%, 600px);
}

.form input {
    width: 100%;
}

.apeImage {
    margin: 12px;
}

.mainApe {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fairPrice {
    display: flex;
    flex-direction: column;
    height: 100%;

    margin-left: 12px;
}

.fairPrice strong {
    margin-top: 12px;
    font-size: 20pt;
}

.divider {
    margin-top: 24px;
    margin-bottom: 24px;
}

.featureApes {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featureApe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}